{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
        <title>LOGIN PAGE</title>
{% endblock %}

{% block content %}
        <div class="container">
            <h1 style="text-align: center;">LOGIN</h1>
  
            <form method="POST" class="jumbotron" style="width: 60%; margin: 2% 20%;">
            {% csrf_token %}
            <label for="un">Enter Username:</label>
            <input type="text" id="un" name="un" class="form-control"><br>
            <label for="pw">Enter Password:</label>
            <input type="password" id="pw" name="pw" class="form-control"><br>
            {% if messages %}
            {% for msg in messages %}
                <p style="color:red">{{msg}}</p>
            {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-primary">LOGIN</button>
    </form>
</div>
{% endblock %}